<div class="header">
  <div class="container header__container">
    <div class="header__logo logo"></div>
    <div class="header__nav header-nav">
      <a class="header-nav__item" href="">Главная</a>
      <a class="header-nav__item" href="">Тренировка дня</a>
      <a class="header-nav__item" href="">Наши тренера</a>
      <a class="header-nav__item" href="">Расписание</a>
      <a class="header-nav__item" href="">Контакты</a>
    </div>
    <div class="header__contacts">
        <a class="header__tel" href="tel:+73512353835">+7 (351) 235-38-35</a> / 
        <a class="header__vk" href="https://vk.com/crossboxband"></a>
    </div>
  </div>
</div>
