<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Кроссфит Челябинск | Crossbox Band">
  <meta property="og:description" content="Зал, в котором чувствуете себя как дома, светлое помещение с большими окнами, уютные раздевалки, новое качественное оборудование, приветливый персонал, профессиональные тренеры, удобное расписание, полезный бар, множество совместных уикендов и мероприятий...
Все это вас ждет в Crossbox Band!">
  <meta property="og:image" content="http://crossboxband.com/assets/images/baners/banner.jpg">
  <meta property="og:url" content="http://crossboxband.com/">
  <link rel="stylesheet" type="" href="{{'/assets/styles/lib.css' | relative_url}}">
  <link rel="stylesheet" type="" href="{{'/assets/styles/main.css' | relative_url}}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
