.header {
    position: fixed;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 8em;
    z-index: 10;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__logo {
        align-self: center;
        flex-grow: 1;
        height: 90%;
        width: 7em;
        margin-left: 1em;
    }

    &__tel {
        display: none;
        
        font-size: 1.5em;
        padding-top: 2em;
        padding-bottom: 2.1em;
        padding-left:.5em;
        padding-right:.5em;
        color: #fff;
        text-decoration: none;
    }
}
